body {

}
img {
    height: 300;
    width: 300;
    display: block;
    margin: 0%;
    border-radius: 3%;

}
footer {
  text-align: center;ff
  padding: 3px; ff
  background-color: #abbaba; fff
  color: black; fff
}